/******************************
 * * DM Mosaic Layout
 * *******************************/


/* ==== RESET ====
 * Link:http://meyerweb.com/eric/tools/css/reset
 * Version:2.0
 * Date:2011/01/26
 * License:Public Domain 
 * */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
/*table {border-collapse:separate;border-spacing:0;}*/
textarea {resize:none;}
strong {font-weight:bold;}
a:active, a:focus, input:focus[type=submit]{outline-color:invert;outline-style:none;outline-width:0;}
html {height:100%;}
body{font-family:"Helvetica Neue",sans-serif;height:100%;color: #FFFFFF;}


/* ==== ANIMAZIONE ==== */
.mosaicLayout li div{-webkit-transition:all 0.2s ease-in-out ;-moz-transition:all 0.2s ease-in-out ;-o-transition:all 0.2s ease-in-out ;transition:all 0.2s ease-in-out ;}


body{padding:20px;font-family: Helvetica,sans-serif;color:#000000;}

.mosaicLayout{margin: 0 auto;}

.mosaicLayout li{height:300px;width:305px; float: left;position: relative;}
.mosaicLayout li:hover{z-index: 100;}
.mosaicLayout li .item{position: absolute;top:0;left:5px;border:5px solid white;max-width: 320px;max-height: 320px;overflow: hidden;height: auto;}
.mosaicLayout li .item img{display: block;}
.mosaicLayout li:hover .item{z-index: 100;border:8px solid white;top:-3px;left:0px;box-shadow:0 0 35px rgba(0,0,0,0.60);max-width:800px;max-height: 800px;}
.mosaicLayout li .item .info{background:#FFFFFF;padding:20px; position: absolute;bottom: -80px;left: 0px;}
.mosaicLayout li .item .info h2{font-size: 14px;font-weight: bold;}
.mosaicLayout li .item .info .author{font-size: 12px;color: #999999;}
.mosaicLayout li:hover .info{bottom: 0px;}



/*1280*/
@media screen and (min-width: 0) and (max-width: 1020px) {	
	.mosaicLayout{width: 610px}
	.it02,.it04,.it06,.it08,.it10,.it12{right: 0px;left: auto!important;}	
	/*
	body{background: yellow!important}
	*/
}



@media screen and (min-width: 1020px) and (max-width: 1520px) {	
	.mosaicLayout{width: 915px}
	.it03,.it06,.it09,.it12{right: 0px;left: auto!important;}	
	/*	
	body{background: red!important}
	*/
}


/*1280*/
@media screen and (min-width: 1520px) {	
	.mosaicLayout{width: 1220px}
	.it04,.it08,.it12{right: 0px;left: auto!important;}	
	/*
	body{background: blue!important}
	*/
}

